/* =========================================
   MAIN STYLESHEET
   Imports all modules.
   ========================================= */

@import "modules/global.css";
@import "modules/header.css";
@import "modules/footer.css";
@import "modules/components.css";
@import "modules/sections.css";

/* 2. Принудительно включаем клики на кнопках (Табы) */
button, .hextra-tabs-toggle {
    pointer-events: auto !important;
    cursor: pointer !important;
    position: relative;
    z-index: 50 !important;
}